# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go
on:
  workflow_dispatch:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.19"
    - uses: LouisBrunner/checks-action@v1.1.1
      id: init
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        name: "Passing tests"
        status: in_progress
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.50.1
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
    - uses: LouisBrunner/checks-action@v1.1.1
      if: "always()"
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        check_id: "${{ steps.init.outputs.check_id }}"
        status: completed
        conclusion: "${{ job.status }}"
